@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    box-sizing: border-box;
    text-align: center;
    font-family: "VT323", monospace;
    background-color: #FFE4C4;
    color: #666666;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

::selection {
    color: #ffffff;
    background-color: #FF8F00;
}

h2 {
    color: #333333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.title-logo {
    display: inline-flex;
    font-size: 3rem;
    margin: 0.8em 0;
}

.title-logo:hover {
    transform: translateY(-20px);
}

h2:hover {
    transform: translateY(20px);
}

h2:active {
    transform: translateY(-20px);
}

#player-one:hover {
    transform: translateY(10px) rotate(2deg);
}

#player-two:hover {
    transform: translateY(10px) rotate(-2deg);
}

h2 a {
    text-decoration: none;
    color: inherit;
}

button {
    font-size: inherit;
    font-family: inherit;
    border: 2px solid #1b1b1b;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 12ch;
    margin: 0 0 0.4em;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: translateY(2px);
    box-shadow: none;
}

#result-both {
    background-color: #008080;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

#reset-btn {
    background-color: #FF0000;
    padding: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 0.4em;
}

.btn-selection-p1, .btn-selection-p2 {
    padding-bottom: 0.3em;
}

#result-p1, #result-p2 {
    min-height: 1.5em;
}

#score-message-p1, #score-message-p2, #result-p1, #result-p2 {
    transition: all 0.3s ease;
}

#score-message-p1:hover, #score-message-p2:hover, #result-p1:hover, #result-p2:hover {
    transform: translateY(-3px);
}

.bottom-section {
    text-align: start;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
}

.keybind-section-p1, .keybind-result-reset,.keybind-section-p2  {
    transition: all 0.3s ease;
}

.keybind-result-reset {
    text-align: center;
}

.keybind-section-p1:hover, .keybind-result-reset:hover, .keybind-section-p2:hover {
    transform: scale(1.1);
}

#rock-p1, #rock-p2 {
    background-color: #D32F2F;
}

#rock-p1:hover, #rock-p2:hover {
    background-color: #B71C1C;
    transform: rotate(2deg);
}

#rock-p1:active, #rock-p2:active {
    background-color: #9E1C1C;
}

#paper-p1, #paper-p2 {
    background-color: #2196F3;
}

#paper-p1:hover, #paper-p2:hover {
    background-color: #1976D2;
}

#paper-p1:active, #paper-p2:active {
    background-color: #1565C0;
}

#scissors-p1, #scissors-p2 {
    background-color: #FFEB3B;
}

#scissors-p1:hover, #scissors-p2:hover {
    background-color: #FFD600;
    transform: rotate(-2deg);
}

#scissors-p1:active, #scissors-p2:active {
    background-color: #E0B200;
}

.won-color-p1, .won-color-p2 {
    color: #4CAF50;
}

.lose-color-p1, .lose-color-p2 {
    color: #FF5733;
}

.draw-color-p1, .draw-color-p2 {
    color: #FFC107;
}


@media only screen and (max-width: 400px) {
    .title-logo {
        font-size: 1.9rem;
        display: block;
        margin-bottom: 0;
    }

    .top-section {
        display: block;
        font-size: 1.5rem;
    }

    .player-one-container {
        transform: rotate(180deg);
    }

    h2 {
        font-size: 1.5rem;
    }

    #result-p1, #result-p2 {
        min-height: 1.5em;
    }
    
    #result-both, #reset-btn {
        display: inline;
        margin-top: 0.8em;
    }

    .bottom-section {
        display: none;
    }
}